.custom-select-container,
.custom-select-value,
.custom-select-options,
.custom-select-option {
    box-sizing: border-box;
}

.custom-select-container {
    display: inline-block;
    position: relative;
}

.custom-select-value {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    border: 1px solid black;
    padding: .25rem .5rem;
    cursor: pointer;
    user-select: none;
}

.custom-select-value::after {
    content: '';
    display: inline-block;
    border: 4px solid transparent;
    border-top-color: black;
    margin-left: 12px;
    margin-top: 4px;
}

.custom-select-container:focus,
.custom-select-value:focus {
    outline: none;
}

/* focus only on tab, not click */
.custom-select-container:focus > .custom-select-value {
    outline: 1px solid black;
}

.custom-select-options {
    display: none;
    position: absolute;
    padding: 0;
    margin: 0;
    border: 1px solid black;
    width: 100%;
    border-top: none;
    max-height: 200px;
    overflow-y: scroll;
}

.custom-select-options.show {
    display: block;
}

.custom-select-option {
    padding: .25rem .5rem;
    cursor: pointer;
    user-select: none;
}

.custom-select-option:hover {
    background-color: hsl(200, 100%, 70%);
    color: white
}

.custom-select-option.selected {
    background-color: hsl(200, 100%, 50%);
    color: white
}